{% load bootstrap4 %}
{% bootstrap_css %}
<body>
    <header class="page-header">
    </header>
    <main class="container">
        <div class="row">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'todo_list' %}">Home</a>   
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_todo' %}">Create</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success" href="{% url 'login' %}"> Login </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger" href="{% url 'logout' %}"> Logout </a>
                </li>
            </ul>
        </div>
        <div>
            <div class="col">
                {% block content %} 
                {% endblock %}
            </div>
        </div>
    </main>
    {% bootstrap_javascript jquery='full' %}
</body>