{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block navigation %}
<body>
    <header class="page-header">
    </header>
    <main class="container">
        <div class="alert alert-info" role="alert">
        <div class="row mx-md-n5">
            <div class="col px-md-5">
                <a class="nav-link" href="{% url 'todo_list' %}" style="float: left">Home</a>
            </div>
            <div class="col px-md-5">
                {% if user.is_authenticated %}
                <a class="btn btn-danger" href="{% url 'logout' %}" style="float: right"> Logout </a>
                <u style="float: right">{{ user.get_username }}   </u>
                {% else %}
                <a class="btn btn-success" href="{% url 'login' %}" style="float: right"> Login </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
        <div>
            <div class="col">
            </div>
        </div>
{% endblock %}
{% block bottom %}
    <a class="btn btn-primary" href="{% url 'create_todo' %}" style="float: left">Create new task</a>
{% endblock %}
    </main>
    
</body>